<problems>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/mvc/handler/AdminHandler.java</file>
  <line>20</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.mvc.handler</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.mvc.handler.AdminHandler adminService" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/mvc/handler/AssignHandler.java</file>
  <line>24</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.mvc.handler</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.mvc.handler.AssignHandler adminService" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/mvc/handler/AssignHandler.java</file>
  <line>27</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.mvc.handler</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.mvc.handler.AssignHandler roleService" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/mvc/handler/AssignHandler.java</file>
  <line>30</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.mvc.handler</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.mvc.handler.AssignHandler authService" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/mvc/handler/MenuHandler.java</file>
  <line>24</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.mvc.handler</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.mvc.handler.MenuHandler menuService" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/mvc/handler/RoleHandler.java</file>
  <line>21</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.mvc.handler</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.mvc.handler.RoleHandler roleService" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/service/impl/AdminServiceImpl.java</file>
  <line>30</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.service.impl</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.service.impl.AdminServiceImpl adminMapper" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/service/impl/AuthServiceImpl.java</file>
  <line>17</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.service.impl</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.service.impl.AuthServiceImpl authMapper" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/service/impl/MenuServiceImpl.java</file>
  <line>16</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.service.impl</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.service.impl.MenuServiceImpl menuMapper" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
<problem>
  <file>file://$PROJECT_DIR$/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/src/main/java/com/atguigu/crowd/service/impl/RoleServiceImpl.java</file>
  <line>19</line>
  <module>atcrowdfunding03-admin-component</module>
  <package>com.atguigu.crowd.service.impl</package>
  <entry_point TYPE="field" FQNAME="com.atguigu.crowd.service.impl.RoleServiceImpl roleMapper" />
  <problem_class id="SpringJavaAutowiredFieldsWarningInspection" severity="WEAK WARNING" attribute_key="INFO_ATTRIBUTES">Non recommended 'field' injections</problem_class>
  <description>Field injection is not recommended</description>
  <highlighted_element>@Autowired</highlighted_element>
  <language>JAVA</language>
  <offset>1</offset>
  <length>10</length>
</problem>
</problems>